In [1]:
import pandas as pd

In [3]:
region = pd.read_csv("행정동코드.csv", sep=",")
business = pd.read_csv("행정동-상권csv.csv", sep=",", encoding='cp949')
market = pd.read_csv("서울시_우리마을가게_상권분석서비스.csv", sep=",", encoding='cp949')

In [4]:
# 마포구 자리에 구 입력
df_sample11 = region[region['시군구명'].str.contains('마포구')]
df_sample22 = pd.DataFrame({'행정동' : df_sample11['행정동명'].values.tolist(), '코드' : df_sample11['행자부행정동코드'].values.tolist() })

In [5]:
def save_csv(name, list_code):
  
  global df_kor 
  global df_ch 
  global df_jap 
  global df_usa 
  global df_bake 
  global df_fast
  global df_chicken 
  global df_snack 
  global df_alcoho
  global df_coffee

  df_kor = pd.DataFrame()
  df_ch = pd.DataFrame()
  df_jap = pd.DataFrame()
  df_usa = pd.DataFrame()
  df_bake = pd.DataFrame()
  df_fast = pd.DataFrame()
  df_chicken = pd.DataFrame()
  df_snack = pd.DataFrame()
  df_alcoho = pd.DataFrame()
  df_coffee = pd.DataFrame()
  df_sample3 = ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100005', 'CS100006','CS100007', 'CS100008', 'CS100009', 'CS100010']

  for i in list_code:
    df_kor = pd.concat([df_kor, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[0])]])
    df_ch = pd.concat([df_ch, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[1])]])
    df_jap = pd.concat([df_jap, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[2])]])
    df_usa = pd.concat([df_usa , market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[3])]])
    df_bake = pd.concat([df_bake , market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[4])]])
    df_fast = pd.concat([df_fast, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[5])]])
    df_chicken = pd.concat([df_chicken, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[6])]])
    df_snack = pd.concat([df_snack, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[7])]])
    df_alcoho = pd.concat([df_alcoho, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[8])]])
    df_coffee = pd.concat([df_coffee, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[9])]])

  '''
  df_kor.to_csv(f'{name}_한식')
  df_ch.to_csv(f'{name}_중식')
  df_jap.to_csv(f'{name}_일식')
  df_usa.to_csv(f'{name}_양식')
  df_bake.to_csv(f'{name}_베이커리')
  df_fast.to_csv(f'{name}_패스트푸드')
  df_chicken.to_csv(f'{name}_치킨')
  df_snack.to_csv(f'{name}_분식')
  df_alcoho.to_csv(f'{name}_주점')
  df_coffee.to_csv(f'{name}_커피')'''

  return df_kor, df_ch, df_jap, df_usa , df_bake, df_fast, df_chicken, df_snack, df_alcoho, df_coffee

def age_num(df):
  a = round(df['연령대_10_매출_건수'].sum() / df['점포수'].sum(), 0)
  b = round(df['연령대_20_매출_건수'].sum() / df['점포수'].sum(), 0)
  c = round(df['연령대_30_매출_건수'].sum() / df['점포수'].sum(), 0)
  d = round(df['연령대_40_매출_건수'].sum() / df['점포수'].sum(), 0)
  e = round(df['연령대_50_매출_건수'].sum() / df['점포수'].sum(), 0)
  f = round(df['연령대_60_이상_매출_건수'].sum() / df['점포수'].sum(), 0)

  return a, b, c, d, e, f

def age_won(df):
  a = round(df['연령대_10_매출_금액'].sum() / df['점포수'].sum(), 0)
  b = round(df['연령대_20_매출_금액'].sum() / df['점포수'].sum(), 0)
  c = round(df['연령대_30_매출_금액'].sum() / df['점포수'].sum(), 0)
  d = round(df['연령대_40_매출_금액'].sum() / df['점포수'].sum(), 0)
  e = round(df['연령대_50_매출_금액'].sum() / df['점포수'].sum(), 0)
  f = round(df['연령대_60_이상_매출_금액'].sum() / df['점포수'].sum(), 0)

  return a, b, c, d, e, f

def weekly_won(df):
  mon = round(df['월요일_매출_금액'].sum() / df['점포수'].sum(), -1)
  tue = round(df['화요일_매출_금액'].sum() / df['점포수'].sum(), -1)
  wed = round(df['수요일_매출_금액'].sum() / df['점포수'].sum(), -1)
  thu = round(df['목요일_매출_금액'].sum() / df['점포수'].sum(), -1)
  fri = round(df['금요일_매출_금액'].sum() / df['점포수'].sum(), -1)
  sat = round(df['토요일_매출_금액'].sum() / df['점포수'].sum(), -1)
  sun = round(df['일요일_매출_금액'].sum() / df['점포수'].sum(), -1)

  return mon, tue, wed, thu, fri, sat, sun

def weekly_num(df):
  mon = round(df['월요일_매출_건수'].sum() / df['점포수'].sum(), 0)
  tue = round(df['화요일_매출_건수'].sum() / df['점포수'].sum(), 0)
  wed = round(df['수요일_매출_건수'].sum() / df['점포수'].sum(), 0)
  thu = round(df['목요일_매출_건수'].sum() / df['점포수'].sum(), 0)
  fri = round(df['금요일_매출_건수'].sum() / df['점포수'].sum(), 0)
  sat = round(df['토요일_매출_건수'].sum() / df['점포수'].sum(), 0)
  sun = round(df['일요일_매출_건수'].sum() / df['점포수'].sum(), 0)

  return mon, tue, wed, thu, fri, sat, sun

def time_won(df):
  a = round(df['시간대_00~06_매출_금액'].sum() / df['점포수'].sum(), -1)
  b = round(df['시간대_06~11_매출_금액'].sum() / df['점포수'].sum(), -1)
  c = round(df['시간대_11~14_매출_금액'].sum() / df['점포수'].sum(), -1)
  d = round(df['시간대_14~17_매출_금액'].sum() / df['점포수'].sum(), -1)
  e = round(df['시간대_17~21_매출_금액'].sum() / df['점포수'].sum(), -1)
  f = round(df['시간대_21~24_매출_금액'].sum() / df['점포수'].sum(), -1)

  return a, b, c, d, e, f

def time_num(df):
  a = round(df['시간대_건수~06_매출_건수'].sum() / df['점포수'].sum(), 0)
  b = round(df['시간대_건수~11_매출_건수'].sum() / df['점포수'].sum(), 0)
  c = round(df['시간대_건수~14_매출_건수'].sum() / df['점포수'].sum(), 0)
  d = round(df['시간대_건수~17_매출_건수'].sum() / df['점포수'].sum(), 0)
  e = round(df['시간대_건수~21_매출_건수'].sum() / df['점포수'].sum(), 0)
  f = round(df['시간대_건수~24_매출_건수'].sum() / df['점포수'].sum(), 0)

  return a, b, c, d, e, f

def gender(df):
  man = round(df['남성_매출_비율'].sum() / len(df['남성_매출_비율']), 1)
  woman = round(100 - man, 1)

  return man, woman

def week_weekend(df):
  a = round(df['주중_매출_비율'].sum() / len(df['주중_매출_비율']), 1)
  b = round(100 - a, 1)

  return a, b

'''
def gather():
  a = ['한식', '중식', '일식', '양식', '베이커리', '패스트푸드', '치킨', '분식', '주점', '카페']
  b = [df_kor, df_ch, df_jap, df_usa , df_bake, df_fast, df_chicken, df_snack, df_alcoho, df_coffee]
  for i in range(len(a)):
    print(f'{a[i]}')
    print('연령대 별 매출 건수')
    print(age_num(b[i]))
    print('연령대 별 매출 금액')
    print(age_won(b[i]))
    print('요일 별 매출 건수')
    print(weekly_num(b[i]))
    print('요일 별 매출 금액')
    print(weekly_won(b[i]))
    print('시간대 별 매출 건수')
    print(time_num(b[i]))
    print('시간대 별 매출 금액')
    print(time_won(b[i]))
    print('성비')
    print(gender(b[i]))
    print('주중주말비율')
    print(week_weekend(b[i]))
    print('-------------------------------------------------------------------------------')'''
  
def gather_df (name) :

  df_age_num = pd.DataFrame(index=['10대', '20대', '30대', '40대', '50대', '60대 이상'])
  df_age_won = pd.DataFrame(index=['10대', '20대', '30대', '40대', '50대', '60대 이상'])
  df_weekly_num = pd.DataFrame(index=['월', '화', '수', '목', '금', '토', '일'])
  df_weekly_won = pd.DataFrame(index=['월', '화', '수', '목', '금', '토', '일'])
  df_time_num = pd.DataFrame(index=['~06', '~11', '~14', '~17', '~21', '~24'])
  df_time_won = pd.DataFrame(index=['~06', '~11', '~14', '~17', '~21', '~24'])
  df_gender = pd.DataFrame(index=['남', '여'])
  df_week_weekend = pd.DataFrame(index=['주중', '주말'])


  a = ['한식', '중식', '일식', '양식', '베이커리', '패스트푸드', '치킨', '분식', '주점', '카페']
  b = [df_kor, df_ch, df_jap, df_usa , df_bake, df_fast, df_chicken, df_snack, df_alcoho, df_coffee]

  for i in range(len(a)):
    df_age_num[a[i]] = age_num(b[i])
    df_age_won[a[i]] = age_won(b[i])
    df_weekly_num[a[i]] = weekly_num(b[i])
    df_weekly_won[a[i]] = weekly_won(b[i])
    df_time_num[a[i]] = time_num(b[i])
    df_time_won[a[i]] = time_won(b[i])
    df_gender[a[i]] = gender(b[i])
    df_week_weekend[a[i]] = week_weekend(b[i])

  df_age_num.to_csv(f'{name}_연령대 별 매출 건수')
  df_age_won.to_csv(f'{name}_연령대 별 매출 금액')
  df_weekly_num.to_csv(f'{name}_요일 별 매출 건수')
  df_weekly_won.to_csv(f'{name}_요일 별 매출 금액')
  df_time_num.to_csv(f'{name}_시간대 별 매출 건수')
  df_time_won.to_csv(f'{name}_시간대 별 매출 금액')
  df_gender.to_csv(f'{name}_성별 매출 비율')
  df_week_weekend.to_csv(f'{name}_주중 주말 매출 비율')

  return df_age_num, df_age_won,df_weekly_num , df_weekly_won , df_time_num , df_time_won , df_gender, df_week_weekend

In [6]:
df_sample22

     행정동        코드
0    용강동  11440590
1    대흥동  11440600
2    염리동  11440610
3    신수동  11440630
4    서교동  11440660
5    합정동  11440680
6   망원1동  11440690
7   망원2동  11440700
8    연남동  11440710
9   성산1동  11440720
10  성산2동  11440730
11   상암동  11440740
12   도화동  11440585
13   서강동  11440655
14   공덕동  11440565
15   아현동  11440555

In [11]:
dong = '대흥동'
code = 11440600

In [12]:
df_sample1 = business[business['행정동_코드']==code]
df_sample2 = df_sample1['상권_코드'].tolist()

In [ ]:
save_csv(dong, df_sample2)

In [ ]:
a, b, c, d, e, f, g, h = gather_df(dong)

In [15]:
a

           한식     중식  일식     양식    베이커리  패스트푸드     치킨     분식     주점     카페
10대       9.0    6.0 NaN    0.0   168.0    5.0  119.0   22.0    4.0   55.0
20대     159.0  208.0 NaN  616.0  1457.0  182.0  268.0  239.0  119.0  346.0
30대     156.0  219.0 NaN  656.0  1631.0  106.0  293.0  254.0  102.0  272.0
40대     148.0  318.0 NaN  222.0  1672.0   56.0  304.0  268.0   45.0  211.0
50대     147.0  201.0 NaN  127.0  1544.0   60.0  196.0  189.0   42.0  163.0
60대 이상   99.0  196.0 NaN   33.0  1460.0   25.0   82.0   89.0   17.0   49.0

In [16]:
b

,한식,중식,일식,양식,베이커리,패스트푸드,치킨,분식,주점,카페
10대,109757.0,75204.0,NaN,0.0,757776.0,65139.0,754621.0,145117.0,106545.0,232667.0
20대,3576923.0,3354654.0,NaN,47263042.0,7943016.0,1449588.0,2351580.0,2289008.0,2461934.0,1876172.0
30대,3884821.0,4718933.0,NaN,55946964.0,11119622.0,983249.0,2538306.0,2474710.0,2460828.0,1642412.0
40대,3532672.0,6280576.0,NaN,11129347.0,12263974.0,721578.0,3431205.0,2571937.0,1555996.0,1291037.0
50대,3727831.0,4026628.0,NaN,7495786.0,11494285.0,728397.0,2222358.0,1808346.0,1572546.0,983053.0
60대 이상,2622505.0,4155806.0,NaN,3075656.0,10178182.0,435759.0,1900081.0,999295.0,765089.0,350561.0

In [20]:
c

      한식     중식     일식    양식   베이커리  패스트푸드    치킨     분식     주점     카페
월  123.0  118.0  179.0  64.0  684.0  718.0  69.0  205.0  101.0  310.0
화  129.0  119.0  202.0  58.0  708.0  721.0  79.0  185.0  100.0  322.0
수  132.0  130.0  192.0  54.0  718.0  698.0  81.0  217.0   98.0  327.0
목  134.0  131.0  197.0  59.0  725.0  694.0  84.0  230.0  120.0  325.0
금  136.0  130.0  203.0  64.0  762.0  653.0  84.0  224.0  116.0  331.0
토   93.0   51.0   97.0  31.0  505.0  480.0  76.0  170.0   74.0  156.0
일   67.0   42.0   37.0   8.0  103.0  447.0  73.0   65.0   43.0  128.0

In [21]:
d

,한식,중식,일식,양식,베이커리,패스트푸드,치킨,분식,주점,카페
월,5358690.0,4266710.0,6471000.0,1978050.0,6027450.0,6387640.0,1320190.0,2386850.0,5687960.0,1579900.0
화,5898360.0,4076600.0,7821810.0,2176780.0,6334440.0,6389420.0,1813780.0,2145340.0,6027970.0,1676380.0
수,6152980.0,4546000.0,7472220.0,1975790.0,6658400.0,6231730.0,1553350.0,2558720.0,5603860.0,1764680.0
목,6448010.0,5019800.0,8278750.0,1952450.0,6801510.0,6408900.0,1622270.0,2609270.0,7142150.0,1723700.0
금,6452630.0,4539260.0,8523490.0,2234320.0,7659000.0,5721520.0,1462800.0,2752800.0,6625440.0,1813710.0
토,5230000.0,2277390.0,4445130.0,1823510.0,6011080.0,4571240.0,1273250.0,2342610.0,3953020.0,851400.0
일,3663110.0,1554490.0,3078540.0,587900.0,791450.0,4184640.0,957510.0,1063240.0,1922440.0,709120.0

In [22]:
e

        한식     중식     일식     양식    베이커리   패스트푸드     치킨     분식     주점     카페
~06    7.0    0.0    0.0    2.0     0.0     0.0    2.0    1.0   17.0    0.0
~11   38.0    0.0    2.0   19.0  1182.0   435.0    0.0   80.0    3.0  616.0
~14  355.0  421.0  598.0  189.0   956.0  1750.0    6.0  559.0   14.0  637.0
~17   84.0   53.0   88.0   33.0   805.0   618.0   52.0  197.0   22.0  354.0
~21  272.0  214.0  375.0   86.0  1097.0  1459.0  313.0  420.0  218.0  248.0
~24   57.0   33.0   44.0   10.0   165.0   149.0  173.0   39.0  379.0   43.0

In [23]:
f

,한식,중식,일식,양식,베이커리,패스트푸드,치킨,분식,주점,카페
~06,230630.0,6670.0,0.0,326670.0,450.0,0.0,13590.0,29790.0,1202840.0,0.0
~11,705660.0,2150.0,37670.0,162270.0,7559000.0,3604550.0,0.0,636250.0,49830.0,2664350.0
~14,9415270.0,9711540.0,17922280.0,4559430.0,10026570.0,16137440.0,55540.0,5287560.0,498300.0,3653580.0
~17,3643630.0,1791320.0,4192060.0,1213450.0,8232390.0,5616330.0,657430.0,1807980.0,862690.0,2051820.0
~21,19633410.0,10753280.0,19512410.0,4426690.0,12162490.0,13250310.0,4993750.0,6775820.0,11487660.0,1463570.0
~24,5575180.0,4015290.0,4426510.0,2040280.0,2302450.0,1286470.0,4282830.0,1321440.0,22861520.0,285580.0

In [24]:
g

     한식    중식    일식    양식  베이커리  패스트푸드    치킨    분식    주점    카페
남  64.2  71.6  71.8  59.9  43.8   45.7  70.2  61.5  71.8  55.4
여  35.8  28.4  28.2  40.1  56.2   54.3  29.8  38.5  28.2  44.6

In [25]:
h

      한식    중식    일식    양식  베이커리  패스트푸드    치킨    분식    주점    카페
주중  79.3  86.6  85.8  79.0  82.2   78.3  74.1  82.0  81.1  78.5
주말  20.7  13.4  14.2  21.0  17.8   21.7  25.9  18.0  18.9  21.5